src/main/mule/user-greeting-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <configuration-properties
        file="config.yaml"
        doc:name="Configuration Properties"
        doc:description="Loads HTTP host and port settings from config.yaml" />

    <http:listener-config
        name="HTTP_Listener_config"
        doc:name="HTTP Listener Config"
        doc:description="HTTP Listener configuration exposing the greeting API on host 0.0.0.0 port 8081">
        <http:listener-connection host="${http.host}" port="${http.port}"
            doc:description="Configures the HTTP listener connection using host and port from property placeholders" />
    </http:listener-config>

    <flow name="user-greeting-flow"
        doc:name="User Greeting Flow"
        doc:description="Receives HTTP GET requests on /greet and returns a personalized JSON greeting message">

        <http:listener
            config-ref="HTTP_Listener_config"
            path="/greet"
            allowedMethods="GET"
            doc:name="GET /greet"
            doc:description="Listens for HTTP GET requests on the /greet endpoint accepting an optional name query parameter">
            <http:response statusCode="200"
                doc:description="Defines the 200 OK response with JSON content-type header for successful greeting requests">
                <http:body>#[payload]</http:body>
                <http:headers>#[{'Content-Type': 'application/json'}]</http:headers>
            </http:response>
            <http:error-response statusCode="500"
                doc:description="Defines the 500 error response with JSON body containing the error description">
                <http:body>#[output application/json --- { error: error.description }]</http:body>
                <http:headers>#[{'Content-Type': 'application/json'}]</http:headers>
            </http:error-response>
        </http:listener>

        <logger
            level="INFO"
            message="#['Greeting request received for name: ' ++ (attributes.queryParams.name default 'Guest')]"
            doc:name="Log incoming request"
            doc:description="Logs the name query parameter from the incoming GET /greet request" />

        <set-variable
            variableName="userName"
            value="#[attributes.queryParams.name default 'Guest']"
            doc:name="Extract user name"
            doc:description="Extracts the name query parameter from the request, defaulting to Guest if not provided" />

        <set-payload
            value="#[output application/json --- { greeting: 'Hello, ' ++ vars.userName ++ '!', message: 'Welcome to MuleVibes Greeting API' }]"
            mimeType="application/json"
            doc:name="Build greeting response"
            doc:description="Constructs a JSON greeting response with a personalised message using the provided name" />

        <logger
            level="INFO"
            message="#['Greeting response sent: Hello, ' ++ vars.userName ++ '!']"
            doc:name="Log greeting response"
            doc:description="Logs the outgoing greeting response for monitoring purposes" />

        <error-handler
            doc:description="Handles runtime errors in the greeting flow, returning a structured JSON error response">
            <on-error-propagate
                type="ANY"
                doc:name="Handle any error"
                doc:description="Catches any unhandled error in the greeting flow and returns a JSON error response">
                <logger
                    level="ERROR"
                    message="#['Error processing greeting request: ' ++ error.description]"
                    doc:name="Log error"
                    doc:description="Logs the error description for debugging and monitoring" />
                <set-payload
                    value="#[output application/json --- { error: error.description, errorType: error.errorType.identifier }]"
                    mimeType="application/json"
                    doc:name="Set error payload"
                    doc:description="Sets a JSON error response payload containing the error description and type" />
            </on-error-propagate>
        </error-handler>
    </flow>

</mule>